<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partial/head.ejs') %>
    </head>
    <body>
        <%- include('../partial/navbar.ejs') %>
        <div class="bg-gray-900 py-10 min-h-screen flex justify-center">
            <div class="px-6 lg:px-8">
                <div class="sm:flex sm:items-center">
                    <div class="sm:flex-auto">
                        <h1 class="text-xl font-semibold text-white">User</h1>
                    </div>
                </div>
                <div class="mt-8 flow-root">
                    <div class="-my-2 -mx-6 overflow-x-auto lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                            <table class="min-w-full divide-y divide-gray-700">
                                <thead>
                                    <tr>
                                        <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-white">Name</th>
                                        <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-white">Username</th>
                                        <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-white">Year of birth</th>
                                        <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-white">Admin?</th>
                                        <th scope="col" class="relative py-3.5 pl-3 pr-6 sm:pr-0">
                                            <span class="sr-only">View</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-800">
                                    <% users.forEach((user,i) => { %>

                                    <tr>
                                        <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-300"><%= user.name %></td>
                                        <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-300"><%= user.username%></td>
                                        <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-300"><%= user.yob %></td>
                                        <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-300"><%= user.isAdmin %></td>
                                        <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-300">
                                            <a href="/accounts/<%= user._id %>" class="text-indigo-400 hover:text-indigo-600">View</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
